@media (max-width: 1110px) {
    .nav__menu {
        display: flex;
        position: absolute;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
        background-color: #ffffff;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .nav__span {
        display: flex;
    }

    .nav {
        justify-content: space-between;
    }

    .icon__close {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nav--active {
        transform: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 960px) {
    .header {
        height: 300px;
    }

    /* .text__h1 {
        font-weight: 400;
    } */

    .text__h2 {
        font-size: 26px;
    }

    .text {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 700px) {
    /* .myfoto {
        display: none;
    } */

    .header {
        height: 250px;
    }

    .text__h1 {
        font-size: 32px;
    }

    .text__h2 {
        font-weight: 26px;
        line-height: 30px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 2px solid #000;
        padding-top: 30px;
    }

    .footer__contact {
        border-top: 2px solid #000;
        padding-top: 30px;
        width: 100%;
        align-items: center;
    }

    .footer__block {
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 470px) {

        .header {
            height: fit-content;
        }

        .text__h1 {
            font-size: 20px;
        }

        .text__h2 {
            font-size: 16px;
            line-height: 20px;
        }


    }
}