@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format(woff2);
    src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format(woff2);
    src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff") format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-orange: #E1670E;
    --color-orange-chade1: #FF9900;
    --color-orange-chade3: #F7B045;
    --color-orange-chade4: #FFB84D;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #333333;
    --color-gray-shade: #666666;
    --color-gray-shade1: #414141;
    --color-white-shade: #E5E5E5;
    --color-white-shade1: #CACACA;
    --gap: 32px;
}

body {
    min-width: 320px;
    font-family: "Montserrat", Helvetica, sans-serif;
    background: var(--color-white-shade);
}

.conteiner {
    background: var(--color-white);
    max-width: 1920px;
    margin: 0 auto;
}

.title-h2 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    color: var(--color-black);
}

.title-h3 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    /* line-height: 29px; */
    color: var(--color-black);
}

.text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black);
}

/* Блок Меню-навигация nav */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    min-height: 100px;
    background: var(--color-white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    padding: 0 75px;
    margin-bottom: 50px;
}

.header__nav {
    display: flex;
}

.logotip {
    width: 225px;
    height: 72px;
}

.nav {
    display: flex;
    gap: 70px;
    margin-right: 222px;
}

.nav__link {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid var(--color-white);
    padding: 5px;
    color: var(--color-black);
    transition: border-bottom 0.5s ease-in-out, outline 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.nav__link:hover {
    border-bottom: 2px solid var(--color-orange-chade1);
}

.nav__link:focus {
    border: 2px solid var(--color-orange-chade1);
}

.nav__link:active {
    color: var(--color-orange);
    border-bottom: 2px solid var(--color-orange);
}

.search {
    width: 24px;
    height: 24px;
}

.search:hover path {
    stroke: var(--color-orange-chade1);
}

.search:hover rect {
    fill: var(--color-orange-chade1);
}

.search:focus {
    outline: 2px solid var(--color-orange-chade1);
    outline-offset: 4px;
}

/* main */
.main {
    max-width: 1920px;
    padding: 0 75px;
    /* padding-bottom: 100px; */
}

.burger {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #ffffff;
}

.burger__span {
    width: 30px;
    height: 3px;
    background: #000000;


}

.burger__span:not(:last-child) {
    margin-bottom: 7px;
}

.burger {
    display: none;
}

/* Проектные решения любой сложности Article */

.article {
    /* display: flex;
    flex-direction: column; */
    max-width: 1770px;
    min-height: 620px;
    padding: 100px 80px 100px 80px;
    /* padding: 100px 80px;
    margin-bottom: 50px; */
    background-image: url(../img/article/img_article.jpg);
    /* background-size: auto; */
    margin-bottom: 52px;
    background-size: cover;
    border-radius: 32px;
}

.article__title {
    margin: 0;
    max-width: 837px;
    min-height: 170px;
    font-weight: 800;
    font-size: 71px;
    line-height: 85px;
    color: var(--color-white);
    margin-bottom: 24px;
}

.article__text {
    margin: 0;
    max-width: 837px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-white);
    margin-bottom: 90px;
}

.article__btn {
    width: 280px;
    height: 78px;
    /* padding: 25px 39px; */
    background: var(--color-orange-chade1);
    border-radius: 16px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    border: none;
    /* padding: 0; */
    transition: background 0.5s ease-in-out;
}

.article__btn:hover,
.work__btn:hover,
.footer__btn:hover {
    background: var(--color-orange-chade4);
}

.article__btn:focus,
.work__btn:focus,
.footer__btn:focus {
    background: var(--color-orange-chade4);
}

.article__btn:active,
.work__btn:active,
.footer__btn:active {
    background: var(--color-orange);
}

/* Онас about */

.about {
    margin-bottom: 97px;
}

.about__title {
    margin-bottom: 21px;
}

.about__text {
    max-width: 1235px;
    min-height: 192px;
    margin-bottom: 50px;
}

.about__cont {
    display: flex;
    justify-content: space-between;
}

.about__block-left {
    display: flex;
    align-items: flex-end;
    padding: 0;
    width: calc((100% - var(--gap)) / 2);
    min-height: 622px;
    border-radius: 32px;
    background-image: url(../img/about/foto_about.jpg);
    background-size: cover;
    /* padding-top: 426px; */
}

.about__block-left-img {
    display: none;
}
.about__block-transparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    min-height: 196px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    padding: 50px;
}

.about__text_accept {
    font-weight: 700;
    color: var(--color-white);
    max-width: 433px;
    min-height: 96px;
    /* margin-right: 160px; */
}

.about__btn {
    padding: 0;
    min-width: 175px;
    height: 60px;
    border: 3px solid var(--color-orange-chade1);
    border-radius: 16px;
    background: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
    transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
}

.about__btn:hover {
    background: var(--color-orange-chade1);
}

.about__btn:focus {
    background: var(--color-orange-chade1);
}

.about__btn:active {
    background: var(--color-orange);
    border: 3px solid var(--color-orange);
}

.about__block-right {
    width: calc((100% - var(--gap)) / 2);
    min-height: 622px;

}

.about__sub-block {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 295px;
    background: var(--color-white);
    border: 1px solid var(--color-white-shade1);
    border-radius: 32px;
    padding: 65px 60px 65px 60px;
}

.about__sub-block:not(:last-child) {
    margin-bottom: 32px;
}

.about__subtitle {
    max-width: 452px;
    min-height: 29px;
}

.about__img {
    width: 190px;
    height: 165px;
    margin-right: 50px;
}

.about__subtitle {
    margin-bottom: 8px;
}

.about__subtext {
    max-width: 450px;
    min-height: 128px;
}

/* Как мы работаем how we work */

.work {
    max-width: 1770px;
    min-height: 646px;
    margin-bottom: 108px;
}

.work__title {
    margin-bottom: 50px;
}

.work__menu-step {
    margin-bottom: 50px;
}
.work__step {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
    color: var(--color-black);
    transition: color 0.5s ease-in-out, outline 0.5s ease-in-out, outline-offset 0.5s ease-in-out;
}

.work__step:not(:first-child) {
    margin-right: 82px;
}

.work__step:hover {
    color: var(--color-orange-chade1);
}

.work__step:focus {
    outline: 2px solid var(--color-orange-chade1);
    outline-offset: 5px;
}

.work__step:active {
    color: var(--color-orange);
    outline: none;
}

.work__step_active {
    color: var(--color-orange);
    margin-right: 80px;
}

.work__colum {
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
    max-width: 1770px;
}

.work__block {
    width: calc((100% - var(--gap)) / 2);
    min-height: 470px;
    /* margin-right: 142px; */
    /* outline: 1px solid red; */
}

.work__subtitle {
    margin-bottom: 6px;
    width: 331px;
    height: 32px;
}

.work__text {
    max-width: 758px;
    min-height: 352px;
    margin-bottom: 15px;
}

.work__btn {
    padding: 0;
    width: 175px;
    height: 60px;
    background: var(--color-orange-chade1);
    border-radius: 16px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-right: 28px;
    color: var(--color-white);
    transition: background 0.5s ease-in-out;
}

.work__btn-contract {
    padding: 0;
    width: 147px;
    height: 60px;
    border: 1px solid var(--color-black);
    border-radius: 16px;
    background: none;
    transition: color 0.5s ease-in-out, border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.work__btn-contract:hover,
.work__btn-contract:focus {
    color: var(--color-white);
    background: var(--color-gray-shade);
    border: var(--color-gray-shade);
}

.work__btn-contract:active {
    color: var(--color-white);
    background: var(--color-black);
    border: var(--color-black);
}

.img {
    background-image: url(../img/work/foto_work.jpg);
    border-radius: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Часто задаваемые вопросы questions */

.questions {
    margin-bottom: 103px;
}

.questions__title {
    margin-bottom: 35px;
}

.questions__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid var(--color-white-shade1);
    border-top: 1px solid var(--color-white-shade1);
    transition: border-top 0.5s ease-in-out, border-bottom 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.questions__link p {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 1720px;
    transition: color 0.5s ease-in-out;
}

.questions__svg {
    min-width: 50px;
    height: 50px;
}

.link2 {
    position: relative;
    top: -1px;
}

.link3 {
    position: relative;
    top: -2px;
}

.link4 {
    position: relative;
    top: -3px;
}

.link5 {
    position: relative;
    top: -4px;
}

.questions__link svg,
.questions__link ellipse,
.questions__link path {
    transition: fill 0.5s ease-in-out, transform 0.5s ease-in-out;
}



.questions__link:hover,
.questions__link:focus {
    z-index: 1;
    border-bottom: 1px solid var(--color-orange-chade1);
    border-top: 1px solid var(--color-orange-chade1);
}

.questions__link:hover p,
.questions__link:hover ellipse,
.questions__link:focus p,
.questions__link:focus ellipse {
    color: var(--color-orange-chade1);
    fill: var(--color-orange-chade1);
}

.questions__link:hover path,
.questions__link:focus path {
    fill: var(--color-white);
}

.questions__link:active {
    z-index: 1;
    border-bottom: 1px solid var(--color-white-shade1);
    border-top: 1px solid var(--color-white-shade1);
}

.questions__link:active p,
.questions__link:active ellipse {
    color: var(--color-black);
    fill: var(--color-white-shade1);
}

.questions__link:active path {
    fill: var(--color-black);
}

.questions__link:active svg {
    transform: rotate(45deg);
}


/* footer */
.footer {
    display: flex;
    max-width: 1920px;
    min-height: 594px;
    background: var(--color-black);
    padding: 40px 75px;
}

/* .footer__left {
    width: 252px;
    height: 494px;
    margin-right: 349px;

} */

.footer__logo {
    width: 224px;
    height: 72px;
    margin-bottom: 20px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.footer__link {
    margin: 0;
    width: max-content;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: var(--color-white-shade1);
    white-space: pre;
}

.footer__link:hover {
    color: var(--color-orange-chade1);
}

.footer__link:focus {
    outline: 2px solid var(--color-orange-chade1);
    outline-offset: 5px;
}

.footer__link:active {
    color: var(--color-orange);
    outline: none;
}

.footer__link-icon,
.footer__link-icon path {
    text-decoration: none;
    font-size: 0;
    margin-right: 25px;
    transition: outline 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.footer__link-icon:hover path {
    fill: var(--color-orange-chade1);
}

.footer__link-icon:focus {
    outline: 2px solid var(--color-orange-chade1);
    outline-offset: 5px;
}

.footer__link-icon:active,
.footer__link-icon:active path {
    fill: var(--color-orange);
    outline: none;
}

/* .footer__center {
    width: 570px;
    height: 494px;
    margin-right: 236px;
} */

.footer__center-title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-left: 10px;
    color: var(--color-white-shade1);
    margin-bottom: 25px;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__form-obligatory:hover,
.footer__form-obligatory:hover::placeholder,
.footer__form-opcion:hover,
.footer__form-opcion:hover::placeholder,
.footer__form-obligatory:focus,
.footer__form-opcion:focus {
    background: var(--color-gray-shade);
    color: var(--color-white-shade1);
}

.footer__form-obligatory:active,
.footer__form-opcion:active,
.footer__form-obligatory:active::placeholder,
.footer__form-opcion:active::placeholder {
    background: var(--color-gray-shade);
    color: var(--color-white);
}

.footer__form-obligatory {
    width: calc(100% - 20px);
    min-height: 60px;
    background: var(--color-gray-shade1);
    border-radius: 16px;
    border: none;
    margin-bottom: 25px;
    padding-left: 24px;
}

.footer__form-opcion {
    min-height: 150px;
    width: calc(100% - 20px);
    background: var(--color-gray-shade1);
    border-radius: 16px;
    border: none;
    padding-left: 24px;
    padding-top: 14px;
    margin-bottom: 32px;
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer__btn {
    width: 269px;
    min-height: 58px;
    background: var(--color-orange-chade1);
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--color-white);
    border: none;
    transition: background 0.5s ease-in-out;
}

/* .footer__right {
    margin-top: 87px;
    width: 363px;
    height: 320px;
} */

.footer__text {
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
    padding: 85px 0px;
}

.text_footer {
    color: var(--color-white-shade1);
    max-width: 363px;
    min-height: 320px;
}

.footer__block {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}

.footer__block-rigth {
    min-width: 570px;
}